
.main:after {
content:"";
        display: table;
        clear: both;
}
.left{
	float: left;
        width: 50%;
        font-size: 17px;
        background-color: #FBFCFC;
}

.right{
	float: right;
        width: 50%;
        
}


.foot{
	text-align:center;
    background-color:#F0F3F4;

}
iframe{
    max-width: 100%;
    
}


img {
        max-width: 100%;
        height: auto;
        border-radius: 210px;

    }

     @media screen and (max-width: 480px) {
        .left, .right {
            float: none;
            width: auto;
        }
    }
    @media screen and (max-width: 720px) {
        .left, .right {
            float: none;
            width: auto;
        }
    }