
*{
    margin:0px;
}

.myheader{
    background-image: url('logo.jpeg');
    height:auto;
     width: 100%;
     background-size: cover;
     opacity: 0.8;

     }
.myheader:after{

     content:"";
        display: table;
        clear: both;
}
     .myheader:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.left{
    float:left;
    padding-top: 200px;
    padding-left: 50px;
    font-size: 34px;
    font-weight: bold;
    width:30%
}

.right{
    float:right; padding-top:80px;padding-bottom:80px; width:50%;
}

.foot{
	text-align:center;
    background-color:#F0F3F4;
    clear:both;

}
iframe{
    max-width: 100%;
    
}


img {
        max-width: 100%;
        height: auto;
        border-radius: 210px;

    }

     @media screen and (max-width: 480px) {
        .left, .right {
            float: none;
            width: auto;
        }
    }
    @media screen and (max-width: 720px) {
        .left, .right {
            float: none;
            width: auto;
        }
    }